:root {
  --background_1: #3d50e0;
  --background_2: #62a9e1;

  /*Text Responsive*/
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DAE4ED;
}

.containerAll {
  position: absolute;
  width: 360px;
  height: 94%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(188, 188, 188, 1);
  overflow: hidden;
}

.contentView {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(188, 188, 188, 1);
  position: absolute;
  overflow: hidden;
}

.contentNav{
  position: absolute;
  top: 0;
  width: 100%;
  height: 120px;
  background-color: var(--background_1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

}

.navTop, .profile{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  position: absolute;
}

.navTop{
  padding: 0 7%;
  top: 15%;
  justify-content: space-between;
}

.profile{
  top: 50%;
}

.navTop span{
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: .5s;
  width: fit-content;
  height: fit-content;
}

.navTop span:hover{
  transform: scale(1.1);
}

.notificationSpan span{
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: -40%;
  font-size: 15px;
  font-weight: bolder;
}

.notificationSpan span{
  display: none; /*Ocultar numero*/
}

.profile .imageProfile{
  position: absolute;
  left: 8%;
  width:fit-content;
  height: fit-content;
}

.imageProfile img{
  width: 17%;
  border-radius: 10px;
}

.contentProfile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.contentProfile h4{
  color: tomato;
  font-size: 14px;
}

.contentProfile h3{
  color: white;
  font-size: 18px;
}


.contentPage{
  position: absolute;
  top: 22%;
  width: 100%;
  height: 73%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 1;
  overflow: scroll;
  padding: 3%;
}

.contentAddReminder{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  gap: 30px;
  padding: 2%;
  background-color: var(--background_1);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.contentAddReminder:active{
  transform: scale(.9);
}

.contentReminder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  background-color: var(--background_2);
  padding: 2%;
  border-radius: 5px;
}

.listReminder{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  gap: 20px;
  padding: 2%;
}

.listReminder li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  background-color: #62e1bb;
  border-radius: 5px;
  transition: .5s ease-in-out;
  padding: 2%;
  gap: 5px;
}

.listReminder li .titleReminder{
  font-size: 18px;
}

.listReminder li .description{
  border-top: .4px solid rgb(50, 50, 50);
  padding: 4% 2% 4% 2%;
  display: none;
  flex-direction: column;
  align-items: none;
  justify-content: left;
  gap: 10px;
}

.listReminder li .contentTopReminder{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.listReminder li .contentTopReminder span{
  cursor: pointer;
}

.listReminder li .date{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
  font-size: 13px;
}

.contentReminder .listReminder .itemReminderNone{
  display: none;
  transition: .3s ease-in-out;
}

.contentFooter{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: fit-content;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 4% 0;
  border-top: 1px solid #A4A4A4;
  z-index: 4;
  background-color: white;
}

.contentFooter span{
  font-size: 15px;
  color: #A4A4A4;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.contentFooter span:nth-child(2){
  color: tomato;
}

.contentFooter span:active{
  transform: scale(0.2);
}

/*Spawn Configuracion*/

.spawnConfiguracion{
  position: absolute;
  top:0;
  left:-100%;
  width: 100%;
  height: 100%;
  background-color: var(--background_1);
  z-index: 5;
  border-radius: 10px;
  transition: .3s ease-in-out;
}

.contentNavConfiguracion{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 15px;
  padding: 6% 5%;
  color: white;
}

.backContent{
  font-size: 15px;
  cursor: pointer;
}

.textBackContent{
  font-size: 17px;
}

.contentConfiguracion{
  width: 100%;
  height: 90%;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 5;
  overflow-y: auto;
  padding: 0% 0 4% 0;
}

.contentConfiguracion div{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: rgba(108, 122, 227, 0.3);
  border-bottom: .5px solid rgb(255, 255, 255, .5);
  gap: 10px;
  padding: 4% 4% 3% 4%;
}

.contentConfiguracion div .nameList{
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.contentConfiguracion div ul li{
  width: 100%;
  height: fit-content;
  padding: 2%;
  cursor: pointer;
  transition: .1s ease-in-out;
  border-radius: 5px;
}

.contentConfiguracion div ul li:hover{
  background-color: rgb(255, 255, 255, .2);
}

.contentConfiguracion div ul li:active{
  background-color: rgb(255, 255, 255, .17);
}

.contentConfiguracion div ul li h5{
  font-size: 14px;
  color: white;
  font-weight: lighter;
  width: 100%;
  height: fit-content;
}

/*Spawn Configuracion*/


/*Spawn Notificaciones*/

.spawnNotificaciones{
  position: absolute;
  top:0;
  right:-100%;
  width: 100%;
  height: 100%;
  background-color: var(--background_1);
  z-index: 5;
  border-radius: 10px;
  transition: .3s ease-in-out;
}

.contentNavNotificaciones{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 15px;
  padding: 6% 5%;
  color: white;
}

.backContentNotificaciones{
  font-size: 15px;
  cursor: pointer;
}

.textBackContentNotificaciones{
  font-size: 17px;
}

.contentNotificaciones{
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: -4%;
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.trayContent{
  width: 100%;
  height: fit-content;
  padding: 4% 4% 2% 4%;
}

.listTray{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
}

.listTray li{
  padding: 2%;
  background-color: rgb(255, 255, 255, .2);
  border-radius: 5px;
  color: rgb(255, 255, 255, .9);
  font-weight: lighter;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  gap: 8px;
}

.listTray li span{
  font-size: 13px;
  transform: rotate(0deg);
  transition: .2s ease-in-out;
}

.listTray li:first-child{
  background-color: rgba(69, 69, 69, 0.5);
}

.notifications{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  z-index: 5;
  overflow-y: auto;
  padding: 0% 0 15% 0;
  margin-top: 1%;
}

.listNotifications{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.listNotifications li{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 2% 4%;
  gap: 10px;
  border-bottom: .4px solid rgb(255, 255, 255, .4);
}

.listNotifications li .moreNotification{
  width: fit-content;
  height: fit-content;
  margin-top: 2%;
  font-size: 15px;
  font-weight: lighter;
  cursor: pointer;
  color: white;
  padding: 1%;
}

.listNotifications li div{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding: 1%;
  gap: 5px;
}

.listNotifications li div h4{
  text-align: left;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 1%;
  color: white;
}

.listNotifications li div p{
  font-size: 13.5px;
  font-weight: lighter;
  color: rgb(255, 255, 255, .9);
}

.listNotifications li div strong{
  color: tomato;
}

.listNotifications li div h5{
  margin-top: 2%;
  text-align: right;
  font-size: 12px;
  font-weight: lighter;
  color: white;
}

/*Spawn Notificaciones*/


/*Spawn Popup New Reminder*/

.contentBlockPage{
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: rgba(69, 69, 69, 0.6);
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow: scroll;
  padding: 0% 0% 16% 0;
  transition: .3s ease-in-out;
}

.spawnPopupNewReminder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: fit-content;
  background-color: white;
  gap:10px;
  padding: 2%;
  margin-top: 5%;
  border-radius: 3px;
  box-shadow: 0px 0px 20px rgba(69, 69, 69, 1);
}

.spawnPopupNewReminder span{
  text-align: right;
  color: tomato;
  cursor: pointer;
}

.spawnPopupNewReminder div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: fit-content;
  padding: .5%;
}

.spawnPopupNewReminder div input{
  width: 100%;
  padding: 2%;
}

.spawnPopupNewReminder .contentInputFrequency{
  gap: 20px;
}

.contentInputFrequency div{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contentInputFrequency div ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  gap: 10px;
}

.spawnPopupNewReminder .contentInputFrequency div ul li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

.contentConfirm{
  margin: 5% 0;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentConfirm input{
  width: 50%;
  height: 100%;
  padding: 2%;
  border-radius: 3px;
  border: none;
  outline: none;
  background-color: var(--background_1);
  color: white;
  font-size: 15px;
  cursor: pointer;
}


/*Spawn Popup New Reminder*/