:root {
  --background_1: #3d50e0;
  --background_2: #62a9e1;

  /*Text Responsive*/
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DAE4ED;
}

.containerAll {
  position: absolute;
  width: 360px;
  height: 94%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(188, 188, 188, 1);
  overflow: hidden;
}

.contentView {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(188, 188, 188, 1);
  position: absolute;
  overflow: hidden;
}

.contentNav{
  position: absolute;
  top: 0;
  width: 100%;
  height: 120px;
  background-color: var(--background_1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

}

.navTop, .profile{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  position: absolute;
}

.navTop{
  padding: 0 7%;
  top: 15%;
  justify-content: space-between;
}

.profile{
  top: 70%;
}

.navTop span{
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: .5s;
  width: fit-content;
  height: fit-content;
}

.navTop span:hover{
  transform: scale(1.1);
}

.notificationSpan{
  position: absolute;
  right: 5%;
}

.notificationSpan span{
  width: fit-content;
  height: fit-content;
  position: absolute;
  top:-10%;
  right: 0%;
  font-size: 9px;
  font-weight: bolder;
  color: tomato;
}

.notificationSpan .numberNotification{
  display: none; /*Ocultar numero*/
}

.profile .imageProfile{
  position: absolute;
  left: 8%;
  width:fit-content;
  height: fit-content;
}

.imageProfile img{
  width: 17%;
  border-radius: 10px;
}

.contentProfile{
  position: absolute;
  left: 27%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.contentProfile h4{
  color: tomato;
  font-size: 14px;
}

.contentProfile h3{
  color: white;
  font-size: 18px;
}


.contentPage{
  position: absolute;
  top: 22%;
  width: 100%;
  height: 73%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 1;
  overflow: scroll;
  padding: 3%;
}

.contentAddReminder{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  gap: 30px;
  padding: 2%;
  background-color: var(--background_1);
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.contentAddReminder:active{
  transform: scale(.9);
}

.contentReminder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  background-color: var(--background_1);
  padding: 2%;
  border-radius: 3px;
}

.listReminder{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  gap: 20px;
  padding: 2%;
}

.listReminder li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  background-color: #62e1bb;
  border-radius: 3px;
  transition: .5s ease-in-out;
  padding: 2%;
  gap: 5px;
}

.listReminder li .titleReminder{
  font-size: 18px;
}

.listReminder li .description{
  border-top: .4px solid rgb(50, 50, 50);
  padding: 4% 2% 4% 2%;
  display: none;
  flex-direction: column;
  align-items: none;
  justify-content: left;
  gap: 10px;
}

.listReminder li .contentTopReminder{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.listReminder li .contentTopReminder span{
  cursor: pointer;
}

.listReminder li .contentTopReminder .clearReminder{
  position: absolute;
  right: 10%;
  color: tomato;
}

.listReminder li .contentTopReminder .editReminder{
  position: absolute;
  left: 10%;
}

.listReminder li .date{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
  font-size: 13px;
}

.contentReminder .listReminder .itemReminderNone{
  display: none;
  transition: .3s ease-in-out;
}

.contentFooter{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: fit-content;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 4% 0;
  border-top: 1px solid #A4A4A4;
  z-index: 4;
  background-color: white;
}

.contentFooter span{
  font-size: 15px;
  color: #A4A4A4;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.contentFooter span:nth-child(2){
  color: tomato;
}

.contentFooter span:active{
  transform: scale(0.2);
}

/*Spawn Configuracion*/

.spawnConfiguracion{
  position: absolute;
  top:0;
  left:-100%;
  width: 100%;
  height: 100%;
  background-color: var(--background_1);
  z-index: 5;
  border-radius: 10px;
  transition: .3s ease-in-out;
}

.contentNavConfiguracion{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 15px;
  padding: 6% 5%;
  color: white;
}

.backContent{
  font-size: 15px;
  cursor: pointer;
}

.textBackContent{
  font-size: 17px;
}

.contentConfiguracion{
  width: 100%;
  height: 90%;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 5;
  overflow-y: auto;
  padding: 0% 0 4% 0;
}

.contentConfiguracion div{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: rgba(108, 122, 227, 0.3);
  border-bottom: .5px solid rgb(255, 255, 255, .5);
  gap: 10px;
  padding: 4% 4% 3% 4%;
}

.contentConfiguracion div .nameList{
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.contentConfiguracion div ul li{
  width: 100%;
  height: fit-content;
  padding: 2%;
  cursor: pointer;
  transition: .1s ease-in-out;
  border-radius: 5px;
}

.contentConfiguracion div ul li:hover{
  background-color: rgb(255, 255, 255, .2);
}

.contentConfiguracion div ul li:active{
  background-color: rgb(255, 255, 255, .17);
}

.contentConfiguracion div ul li h5{
  font-size: 14px;
  color: white;
  font-weight: lighter;
  width: 100%;
  height: fit-content;
}

/*Spawn Configuracion*/


/*Spawn Configuracion Notificaciones*/

.spawn{
  position: absolute;
  top:0;
  left:-100%;
  width: 100%;
  height: 100%;
  background-color: var(--background_1);
  z-index: 5;
  border-radius: 10px;
  transition: .3s ease-in-out;
}

.contentNavConfig{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 15px;
  padding: 6% 5%;
  color: white;
}

.contentConfig{
  width: 100%;
  height: 90%;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 5;
  overflow-y: auto;
  padding: 0% 0 4% 0;
}

.contentConfig .configGeneralNotification, .contentConfig .optionsNotifications, .contentConfig .configSoundNotifications{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: rgba(108, 122, 227, 0.3);
  border-bottom: .5px solid rgb(255, 255, 255, .5);
  gap: 10px;
  padding: 4% 4% 3% 4%;
}

.contentConfig .configSoundNotifications ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.contentConfig div .nameList{
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.contentConfig div ul li{
  width: 100%;
  height: fit-content;
  padding: 2%;
  cursor: pointer;
  transition: .1s ease-in-out;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.contentConfig div ul li{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.configGeneralNotification ul li:hover{
  background-color: rgb(255, 255, 255, .2);
}

.configGeneralNotification ul li:active{
  background-color: rgb(255, 255, 255, .17);
}

.configGeneralNotification ul li h5{
  font-size: 14px;
  color: white;
  font-weight: lighter;
  width: 100%;
  height: fit-content;
}

.configGeneralNotification ul li .stateToggleNotificaciones{
  font-weight: lighter;
  color: rgb(255, 255, 255, .9);
}

.contentConfig .optionsNotifications ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contentConfig .optionsNotifications ul li{
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contentConfig .optionsNotifications ul li h5{
  font-size: 14px;
  color: white;
  font-weight: lighter;
  width: fit-content;
  height: fit-content;
}

.switch {
  position: absolute;
  right: 5%;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: tomato;
}

input:focus + .slider {
  box-shadow: 0 0 1px tomato;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.contentConfig .configSoundNotifications ul li{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  border: 1px solid rgb(255, 255, 255, .4);
}

.configSoundNotifications ul li div{
  display: flex;
  gap: 20px;
  font-size: 16px;
  color: white;
  width: fit-content;
  height: fit-content;
  padding: .5%;
}

.configSoundNotifications ul li div label{
  font-weight: bolder;
}

.configSoundNotifications ul li div span{
  color: rgb(255, 255, 255, 1);
}

.configSoundNotifications ul li div input{
  appearance: none;
  border: 1px solid;
  width: 18px;
  height: 18px;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255, .5);
  border-radius: 2px;
  transition: background .2s ease-in-out;
}

.checkSound:checked{
  border: 1px solid tomato;
  background-color: tomato;
}

/*Spawn Configuracion Notificaciones*/


/*Spawn Notificaciones*/

.spawnNotificaciones{
  position: absolute;
  top:0;
  right:-100%;
  width: 100%;
  height: 100%;
  background-color: var(--background_1);
  z-index: 5;
  border-radius: 10px;
  transition: .3s ease-in-out;
}

.contentNavNotificaciones{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 15px;
  padding: 6% 5%;
  color: white;
}

.backContentNotificaciones{
  font-size: 15px;
  cursor: pointer;
}

.textBackContentNotificaciones{
  font-size: 17px;
}

.contentNotificaciones{
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: -4%;
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.trayContent{
  width: 100%;
  height: fit-content;
  padding: 4% 4% 2% 4%;
}

.listTray{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
}

.listTray li{
  padding: 2%;
  background-color: rgb(255, 255, 255, .2);
  border-radius: 5px;
  color: rgb(255, 255, 255, .9);
  font-weight: lighter;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  gap: 8px;
}

.listTray li span{
  font-size: 13px;
  transform: rotate(0deg);
  transition: .2s ease-in-out;
}

.listTray li:first-child{
  background-color: rgba(69, 69, 69, 0.5);
}

.notifications{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  z-index: 5;
  overflow-y: auto;
  padding: 0% 0 15% 0;
  margin-top: 1%;
}

.listNotifications{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.listNotifications li{
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: start;
  justify-content: left;
  padding: 2% 4%;
  gap: 15px;
  border-bottom: .4px solid rgb(255, 255, 255, .4);
  margin: 1% 0;
}

.listNotifications li .infoNotifications{
  width: 100%;
}

.listNotifications li .moreNotification{
  position: absolute;
  right: 2%;
  width: fit-content;
  height: fit-content;
  margin-top: -2%;
  font-size: 15px;
  font-weight: lighter;
  cursor: pointer;
  color: white;
  padding: 1.5% 1.5%;
  border-radius: 2px;
  border: .4px solid rgba(188, 188, 188, .5);
  font-size: 14px;

}

.listNotifications li .moreNotification:hover{
  background-color: tomato;
}

.listNotifications li div{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding: 1%;
  gap: 5px;
}

.listNotifications li div h4{
  text-align: left;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 1%;
  color: white;
}

.listNotifications li div p{
  font-size: 13.5px;
  font-weight: lighter;
  color: rgb(255, 255, 255, .9);
}

.listNotifications li div strong{
  color: tomato;
}

.listNotifications li div h5{
  margin-top: 2%;
  text-align: right;
  font-size: 12px;
  font-weight: lighter;
  color: white;
}

/*Spawn Notificaciones*/


/*Spawn Popup New Reminder*/

.contentBlockPage{
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: rgba(69, 69, 69, 0.6);
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow: scroll;
  padding: 0% 0% 16% 0;
  transition: .3s ease-in-out;
}

.spawnPopupNewReminder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: fit-content;
  background-color: white;
  gap:10px;
  padding: 2%;
  margin-top: 5%;
  border-radius: 3px;
  box-shadow: 0px 0px 20px rgba(69, 69, 69, 1);
}

.spawnPopupNewReminder span{
  text-align: right;
  color: tomato;
  cursor: pointer;
}

.spawnPopupNewReminder div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: fit-content;
  padding: .5%;
}

.spawnPopupNewReminder div input{
  width: 100%;
  padding: 2%;
  outline: none;
  border-radius: 2.5px;
  border: 1px solid;
}

@keyframes errInput {
  0%{
    transform: translateX(0px);
  }
  20%{
    transform: translateX(+4px);
  }
  40%{
    transform: translateX(0px);
  }
  60%{
    transform: translateX(-4px);
  }
  80%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(+4px);
  }
}

.spawnPopupNewReminder .contentInputFrequency{
  gap: 20px;
}

.contentInputFrequency div{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contentInputFrequency div ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  gap: 10px;
}

.spawnPopupNewReminder .contentInputFrequency div ul li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

.contentConfirm{
  margin: 0% 0 5% 0;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentConfirm input{
  width: 50%;
  height: 100%;
  padding: 2%;
  border-radius: 3px;
  border: none;
  outline: none;
  background-color: var(--background_1);
  color: white;
  font-size: 15px;
  cursor: pointer;
}


/*Spawn Popup New Reminder*/

/*Spawn Popup Edit Reminder*/

.contentBlockPageEdit{
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: rgba(69, 69, 69, 0.6);
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow: scroll;
  padding: 0% 0% 16% 0;
  transition: .3s ease-in-out;
}

.spawnEditReminder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: fit-content;
  background-color: white;
  gap:10px;
  padding: 2%;
  margin-top: 5%;
  border-radius: 3px;
  box-shadow: 0px 0px 20px rgba(69, 69, 69, 1);
}

.spawnEditReminder .titleEditReminder{
  position: absolute;
  width: 100%;
  height: fit-content;
  padding: 1%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 4.5%;
  left: 0;
}

.spawnEditReminder .closeEditReminder{
  text-align: right;
  color: tomato;
  cursor: pointer;
  z-index: 5;
}

.spawnEditReminder div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: fit-content;
  padding: .5%;
}

.spawnEditReminder .contentInputName{
  margin-top: 3%;
}

.spawnEditReminder div input{
  width: 100%;
  padding: 2%;
  outline: none;
  border-radius: 2.5px;
  border: 1px solid;
}

@keyframes errInput {
  0%{
    transform: translateX(0px);
  }
  20%{
    transform: translateX(+4px);
  }
  40%{
    transform: translateX(0px);
  }
  60%{
    transform: translateX(-4px);
  }
  80%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(+4px);
  }
}

.spawnEditReminder .contentInputFrequency{
  gap: 20px;
}

.contentInputFrequency div{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contentInputFrequency div ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  gap: 10px;
}

.spawnEditReminder .contentInputFrequency div ul li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

.contentConfirm{
  margin: 0% 0 5% 0;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentConfirm input{
  width: 50%;
  height: 100%;
  padding: 2%;
  border-radius: 3px;
  border: none;
  outline: none;
  background-color: var(--background_1);
  color: white;
  font-size: 15px;
  cursor: pointer;
}



/*Spawn Popup Edit Reminder*/


/*-Spawn Pause Notification*/

.spawnPauseNotification{
  position: absolute;
  top: 10%;
  right: -20%;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  transition: .5s ease-in-out;
}

.spawnPauseNotification input{
  background-color: tomato;
  border: none;
  outline: none;
  width: fit-content;
  height: fit-content;
  font-size: 14px;
  padding: 10% 15%;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

/*-Spawn Pause Notification*/

/*Spawn config cuenta*/

.spawnConfigCuenta{
  position: absolute;
  top:0;
  left:-100%;
  width: 100%;
  height: 100%;
  background-color: var(--background_1);
  z-index: 5;
  border-radius: 10px;
  transition: .3s ease-in-out;
}

.contentNavConfigCuenta{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 15px;
  padding: 6% 5%;
  color: white;
}

.contentConfigCuenta{
  width: 100%;
  height: 90%;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 5;
  overflow-y: auto;
  padding: 0% 0 4% 0;
}

.configCuenta{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: rgba(108, 122, 227, 0.3);
  border-bottom: .5px solid rgb(255, 255, 255, .5);
  gap: 10px;
  padding: 4% 4% 3% 4%;
}

.contentConfigCuenta div .nameList{
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.contentConfigCuenta div ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 5px;
}

.contentConfigCuenta div ul li{
  width: 100%;
  height: fit-content;
  padding: 2.5%;
  cursor: pointer;
  transition: .1s ease-in-out;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
}

.contentConfigCuenta div ul li:hover{
  background-color: rgb(255, 255, 255, .2);
}

.contentConfigCuenta div ul li:active{
  background-color: rgb(255, 255, 255, .17);
}

/*Spawn config cuenta*/

/*Spawn almacenar info medica*/

.spawnAlmacenar{
  position: absolute;
  top:0;
  left:-100%;
  width: 100%;
  height: 100%;
  background-color: var(--background_1);
  z-index: 5;
  border-radius: 10px;
  transition: .3s ease-in-out;
}

.contentNavAlmacenar{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 15px;
  padding: 6% 5%;
  color: white;
}

.contentAlmacenar{
  width: 100%;
  height: 90%;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 5;
  overflow-y: auto;
  padding: 0% 0 4% 0;
}

.Almacenar{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: rgba(108, 122, 227, 0.3);
  border-bottom: .5px solid rgb(255, 255, 255, .5);
  gap: 10px;
  padding: 4% 4% 3% 4%;
}

.contentAlmacenar div .nameList{
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.contentAlmacenar div ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 5px;
}

.contentAlmacenar div ul li{
  width: 100%;
  height: fit-content;
  padding: 1%;
  cursor: pointer;
  transition: .1s ease-in-out;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
}

.contentAlmacenar div ul li input[type="text"]{
  outline: none;
  text-align: left;
  padding: 2% 0;
  width: 100%;
  height: fit-content;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  color: white;
}

.contentAlmacenar div ul li input[type="text"]::placeholder{
  color: white;
}

.contentAlmacenar div ul li input[type="date"]{
  outline: none;
  text-align: left;
  padding: 2% 0;
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  color: white;
}

.contentAlmacenar div ul li label{
  font-size: 13px;
  width: fit-content;
  height: fit-content;
  text-align: left;
}

.contentAlmacenar div ul li input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  color: red;
}

.contentAlmacenar div ul li select{
  background-color: white;
  outline: none;
  width: 90%;
  height: fit-content;
  padding: 2%;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.contentAlmacenar div ul li input[type="email"]{
  outline: none;
  text-align: left;
  padding: 2% 0;
  width: 100%;
  height: fit-content;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  color: white;
}

.contentAlmacenar div ul li input[type="email"]::placeholder{
  color: white;
}

.contentAlmacenar div ul li input[type="number"]{
  outline: none;
  text-align: left;
  padding: 2% 0;
  width: 100%;
  height: fit-content;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  color: white;
}

.contentAlmacenar div ul li input[type="number"]::placeholder{
  color: white;
}

.medicineActuality ul li:first-child{
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.Almacenar ul .itemConfigAntecedentes{
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: normal;
  gap: 5px;
  margin-bottom: 3%;
}

.Almacenar ul li textarea{
  outline: none;
  text-align: left;
  padding: 2% 0;
  width: 90%;
  height: fit-content;
  border: none;
  border-bottom: 1px solid white;
  color: black;
}

.Almacenar ul li textarea::placeholder{
  color: blakc;
}

/*Spawn almacenar info medica*/

/*Spawn consultar info medica*/

.spawnConsultar{
  position: absolute;
  top:0;
  left:-100%;
  width: 100%;
  height: 100%;
  background-color: var(--background_1);
  z-index: 5;
  border-radius: 10px;
  transition: .3s ease-in-out;
}

.contentNavConsultar{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 15px;
  padding: 6% 5%;
  color: white;
}

.contentConsultar{
  width: 100%;
  height: 90%;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 5;
  overflow-y: auto;
  padding: 0% 0 4% 0;
}

.Consultar{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: rgba(108, 122, 227, 0.3);
  border-bottom: .5px solid rgb(255, 255, 255, .5);
  gap: 10px;
  padding: 4% 4% 3% 4%;
}

.contentConsultar div .nameList{
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.contentConsultar div ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 5px;
}

.contentConsultar div ul li{
  width: 100%;
  height: fit-content;
  padding: 2.5%;
  cursor: pointer;
  transition: .1s ease-in-out;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
}

.contentConsultar div ul li:hover{
  background-color: rgb(255, 255, 255, .2);
}

.contentConsultar div ul li:active{
  background-color: rgb(255, 255, 255, .17);
}

/*Spawn consultar info medica*/

/*Botones submit*/

.btnSubmit{
  width: 100%;
  height: fit-content;
  padding: 2.5%;
  cursor: pointer;
  transition: .1s ease-in-out;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
}

.btnSubmit:hover{
  background-color: rgb(255, 255, 255, .2);
}

.btnSubmit:active{
  background-color: rgb(255, 255, 255, .17);
}

.formSubmit{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.medicineActuality ul li{
  margin-bottom: 0%;
}

.buttonSendInfoMedica{
  justify-content: center;
  background-color: rgb(255, 255, 255, .2);
}

/*Botones submit*/

/*Spawn password and security*/

.spawnPasswordAndSecurity{
  position: absolute;
  top:0;
  left:-100%;
  width: 100%;
  height: 100%;
  background-color: var(--background_1);
  z-index: 5;
  border-radius: 10px;
  transition: .3s ease-in-out;
}

.contentNavPasswordAndSecurity{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 15px;
  padding: 6% 5%;
  color: white;
}

.contentPasswordAndSecurity{
  width: 100%;
  height: 90%;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 5;
  overflow-y: auto;
  padding: 0% 0 4% 0;
}

.PasswordAndSecurity{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: rgba(108, 122, 227, 0.3);
  border-bottom: .5px solid rgb(255, 255, 255, .5);
  gap: 10px;
  padding: 4% 4% 3% 4%;
}

.contentPasswordAndSecurity div .nameList{
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.contentPasswordAndSecurity div ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 5px;
}

.contentPasswordAndSecurity div ul li{
  width: 100%;
  height: fit-content;
  padding: 2.5%;
  cursor: pointer;
  transition: .1s ease-in-out;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
}

.contentPasswordAndSecurity div ul li:hover{
  background-color: rgb(255, 255, 255, .2);
}

.contentPasswordAndSecurity div ul li:active{
  background-color: rgb(255, 255, 255, .17);
}


.contentPasswordBlock{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.spawnPopupPassword{
  position: absolute;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}

.popup-contentPassword {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: fit-content;
  background-color: #fff;
  padding: 5%;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contentClosePassword{
  position: absolute;
  top: 9%;
  right: 3%;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: right;
}

.closePopupPassword{
  cursor: pointer;
}

.closePopupPassword:hover{
  color: tomato;
}

.inputCode{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 2%;
  margin-top: 1%;
  display: none;
}

.inputCode input[type="number"]{
  width: 70%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  outline: none;
  padding: 2%;
  font-size: 15px;
  
}

.inputCode input[type="password"]{
  width: 70%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  outline: none;
  padding: 2%;
  font-size: 15px;
  
}

.inputCode input[type="submit"] {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.inputCode input[type="submit"]:hover {
  background-color: #0056b3;
}

.spawnConfirm{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 2%;
  margin-top: 1%;
}

.spawnConfirm input[type="number"]{
  width: 70%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  outline: none;
  padding: 2%;
  font-size: 15px;
  
}

.spawnConfirm input[type="submit"] {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.spawnConfirm input[type="submit"]:hover {
  background-color: #0056b3;
}

/*Spawn password and security*/


/*Spawn Informacion personal*/

.spawnDataPersonal{
  position: absolute;
  top:0;
  left:-100%;
  width: 100%;
  height: 100%;
  background-color: var(--background_1);
  z-index: 5;
  border-radius: 10px;
  transition: .3s ease-in-out;
}

.contentNavDataPersonal{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 15px;
  padding: 6% 5%;
  color: white;
}

.contentDataPersonal{
  width: 100%;
  height: 90%;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 5;
  overflow-y: auto;
  padding: 0% 0 4% 0;
}

.DataPersonal{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: rgba(108, 122, 227, 0.3);
  border-bottom: .5px solid rgb(255, 255, 255, .5);
  gap: 10px;
  padding: 4% 4% 3% 4%;
}

.contentDataPersonal div .nameList{
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.contentDataPersonal div ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 5px;
}

.contentDataPersonal div ul li{
  width: 100%;
  height: fit-content;
  padding: 2.5%;
  cursor: pointer;
  transition: .1s ease-in-out;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
}

.itemDataPersonal input[type="email"], .itemDataPersonal input[type="text"] {
  outline: none;
  text-align: left;
  padding: 2% 0;
  width: 100%;
  height: fit-content;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  color: white;
}

.itemDataPersonal input[type="email"]::placeholder, .itemDataPersonal input[type="text"]::placeholder{
  color: white;
}

.itemDataPersonal input[type="text"]::placeholder{
  color: white;
}

.itemDataPersonal input[type="date"]{
  outline: none;
  text-align: left;
  padding: 2% 0;
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  color: white;
}

.itemDataPersonal label{
  font-size: 13px;
  width: fit-content;
  height: fit-content;
  text-align: left;
}

.itemDataPersonal input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  color: red;
}

.itemDataPersonal select{
  background-color: white;
  outline: none;
  width: 90%;
  height: fit-content;
  padding: 2%;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.itemDataPersonal input[type="email"]{
  outline: none;
  text-align: left;
  padding: 2% 0;
  width: 100%;
  height: fit-content;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  color: white;
}

.itemDataPersonal input[type="email"]::placeholder{
  color: white;
}

.itemDataPersonal input[type="number"]{
  outline: none;
  text-align: left;
  padding: 2% 0;
  width: 100%;
  height: fit-content;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  color: white;
}

.itemDataPersonal input[type="number"]::placeholder{
  color: white;
}

.buttonSendInfoPersonal{
  width: 100%;
  height: fit-content;
  padding: 2.5%;
  cursor: pointer;
  transition: .1s ease-in-out;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: white;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255, .2);
  font-size: 14px;
}

.buttonSendInfoPersonal:active{
  background-color: rgb(255, 255, 255, .1);
}

/*Spawn Informacion personal*/

/*Spawn Notification alert*/

.spawnNotificationAlert{
  position: absolute;
  top: -40%;
  right: 0;
  width: 100%;
  height: fit-content;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 5px;
  text-align: center;
  transition: .5s ease-in-out;
}

.contentMessage{
  width: 100%;
  height: fit-content;
  background-color: tomato;
  padding: 3%;
} 

/*Spawn Notification alert*/

